## JSON

null   --->   None
array       --->   List, Tuple 
dictionary  --->   Object
Number      --->   int,float
String      --->   String

In [1]:
import json

In [2]:

# file --> data type ( persistent)

In [3]:
%%writefile hello.txt
hello world
    this is for demonstration

Overwriting hello.txt

In [4]:
pwd

'C:\\Users\\hp\\Desktop\\Batches\\SummerInternBatch2019\\batch_8AM'

In [5]:
fp = open("hello.txt")

In [6]:
single_char = fp.read(1)

In [7]:
single_char

'h'

In [8]:
fp.tell()

1

In [9]:
fp.seek(0)

0

In [10]:
fp.tell()

0

In [11]:
data = fp.read()

In [12]:
data

'hello world\n    this is for demonstration\n'

In [13]:
print(data)

hello world
    this is for demonstration

In [14]:
fp.close()

In [17]:
fp = open("hello.txt","w")

s = """hello world
    this is easy,
in file hadling we just read or write data
in file."""
fp.write(s)
fp.close()

In [18]:
fp = open("hello.txt","a")
s = "\n\n\n\n\t\t\tHello World"

fp.write(s)
fp.close()

In [19]:
# log file 
import time

In [20]:
time.time()

1558926505.6657977

In [23]:
time.time()/60/60/24/365

49.433236495018164

In [24]:
# NTP # time zone --> UTC -->

In [26]:
time.ctime()

'Mon May 27 08:41:34 2019'

In [37]:
fp = open("log.txt","w")

In [38]:
fp.write("Hello World")
fp.write('\n')

1

fp.write("hi world")

In [39]:
fp.close()

Ram-5-6::Shyam-3-10::hari-1-2::

Ram-5,6,7::shyam-8,9,10

In [40]:
# timestamp --> 
# log level --> INFO, ERROR, WARNING, DENY, RESTRICT, LOGIN, LOGOUT
# messege --> default messege

In [65]:
f = open('log.txt','w')

In [66]:
f.write("DATE:LOG_TYPE:MESSEAGE\n")

23

In [67]:
f.close()

In [68]:
data = { 'user':'sachin','password':'redhat'}
def login(user,password):
    if user ==  data.get('user') : 
        if password == data.get('password') : 
            message = f"User Sucessfully Logged in having user name {user}"
            f = open("log.txt",'a')
            ts = time.ctime()
            ty = "INFO"
            s = ts+":"+ty+":"+message
            f.write(s)
            f.write('\n')
            f.close()
            return True 
        else : 
            message = f"Invalid Password tried by {user}"
            f = open("log.txt",'a')
            ts = time.ctime()
            ty = "DENY"
            s = ts+":"+ty+":"+message
            f.write(s)
            f.write('\n')
            f.close()
            return False
    else : 
        message = f"Unknown User Attempted To Log in in SERVER with name {user}"
        f = open("log.txt",'a')
        ts = time.ctime()
        ty = "WARNING"
        s = ts+":"+ty+":"+message
        f.write(s)
        f.write('\n')
        f.close()
        return False

In [69]:
login('alskdfj','asfkd')

False

In [70]:
login("sachin",'alskjdf')

False

In [71]:
login("sachin","redhat")

True

In [72]:
import json

In [73]:
json.dumps(True)

'true'

In [74]:
json.dumps(False)

'false'

In [75]:
json.dumps(None)

'null'

In [76]:
json.loads('true')

True

In [83]:
d  = json.loads('[ 1, 2, "34", 5, "hi", "hello" ]')

In [84]:
type(d)

list

In [85]:
d

[1, 2, '34', 5, 'hi', 'hello']

In [87]:
json.dumps((1,2,'3',4,5,'hi','hello'))

'[1, 2, "3", 4, 5, "hi", "hello"]'

In [88]:
data = { 
    '1001' : { 'name':'sachin','bal':50000,'password':'redhat'},
    '1002' : { 'name':'rajat', "bal":4500000,'password':'redhat'},
    '1003' : { 'name':'nishi',"bal":343,'password':'hi'}
}

In [91]:
print(data)

{'1001': {'name': 'sachin', 'bal': 50000, 'password': 'redhat'}, '1002': {'name': 'rajat', 'bal': 4500000, 'password': 'redhat'}, '1003': {'name': 'nishi', 'bal': 343, 'password': 'hi'}}

In [90]:
print(json.dumps(data,indent=10))

{
          "1001": {
                    "name": "sachin",
                    "bal": 50000,
                    "password": "redhat"
          },
          "1002": {
                    "name": "rajat",
                    "bal": 4500000,
                    "password": "redhat"
          },
          "1003": {
                    "name": "nishi",
                    "bal": 343,
                    "password": "hi"
          }
}

In [93]:
fp = open('bank.db','w')

json.dump(data,fp,indent=10)
fp.close()

In [94]:
data

{'1001': {'name': 'sachin', 'bal': 50000, 'password': 'redhat'},
 '1002': {'name': 'rajat', 'bal': 4500000, 'password': 'redhat'},
 '1003': {'name': 'nishi', 'bal': 343, 'password': 'hi'}}

In [95]:
del data

In [97]:
fp = open('bank.db')
data = json.load(fp)
fp.close()

In [98]:
data

{'1001': {'name': 'sachin', 'bal': 50000, 'password': 'redhat'},
 '1002': {'name': 'rajat', 'bal': 4500000, 'password': 'redhat'},
 '1003': {'name': 'nishi', 'bal': 343, 'password': 'hi'}}

In [99]:
import pickle

In [100]:
data

{'1001': {'name': 'sachin', 'bal': 50000, 'password': 'redhat'},
 '1002': {'name': 'rajat', 'bal': 4500000, 'password': 'redhat'},
 '1003': {'name': 'nishi', 'bal': 343, 'password': 'hi'}}

In [101]:
fp = open("new_bank.db","wb")
pickle.dump(data,fp)
fp.close()

In [102]:
import shelve

In [103]:
import os

In [104]:
os.mkdir("bank_data")

In [105]:
data

{'1001': {'name': 'sachin', 'bal': 50000, 'password': 'redhat'},
 '1002': {'name': 'rajat', 'bal': 4500000, 'password': 'redhat'},
 '1003': {'name': 'nishi', 'bal': 343, 'password': 'hi'}}

In [106]:
user1 = data.get('1001')
user2 = data.get('1002')
user3 = data.get('1003')

In [107]:
user1

{'name': 'sachin', 'bal': 50000, 'password': 'redhat'}

In [108]:
user2

{'name': 'rajat', 'bal': 4500000, 'password': 'redhat'}

In [110]:
user3

{'name': 'nishi', 'bal': 343, 'password': 'hi'}

In [111]:
l = [ user1,user2,user3]

In [112]:
l

[{'name': 'sachin', 'bal': 50000, 'password': 'redhat'},
 {'name': 'rajat', 'bal': 4500000, 'password': 'redhat'},
 {'name': 'nishi', 'bal': 343, 'password': 'hi'}]

In [120]:
acc = 1001
for d in l :
    name = "bank_data/"+str(acc)+".pkl"
    acc += 1
    f  = open(name,'wb')
    pickle.dump(d,f)
    f.close()
else : 
    print("Data Exported Sucessfully")

Data Exported Sucessfully

In [117]:
def info(acc_no):
    name = str(acc_no)+".pkl"
    if name in os.listdir("bank_data/") : 
        name = "bank_data/"+name
        f = open(name,'rb')
        data = pickle.load(f)
        f.close()
        for key,value in data.items() : 
            print(f"{key} = {value}")
    else : 
        print("No such user exists")

In [121]:
info(1001)

name = sachin
bal = 50000
password = redhat

In [122]:
info(1003)

name = nishi
bal = 343
password = hi

In [123]:
info(1004)

No such user exists

In [124]:
import shelve

In [125]:
os.mkdir("database")

In [126]:
data = shelve.open("database/bank.db")

In [127]:
data['1001'] = user1

In [128]:
data['1002'] = user2

In [129]:
data['1003'] = user3

In [130]:
data.close()

In [131]:
data = shelve.open('database/bank.db')

In [132]:
def info(acc_no):
    acc = str(acc_no)
    data = shelve.open('database/bank.db')
    if acc in data : 
        d = data.get(acc)
        for key,value in d.items() : 
            print(f"{key} = {value}")
        else : 
            data.close()
    else : 
        print("No such user exists")

In [148]:
info(1004)

name = rahul
bal = 10000
password = helloworld

In [134]:
info(1002)

name = rajat
bal = 4500000
password = redhat

In [135]:
info(1003)

name = nishi
bal = 343
password = hi

In [146]:
def add_user(name,bal,password):
    db = shelve.open('database/bank.db')
    all_keys = list(db.keys())
    all_keys.sort()
    acc = str(int(all_keys[-1])+1)
    data = { 'name':name,'bal':bal,'password':password}
    db[acc] = data
    print("user added sucessfully")

In [147]:
add_user('rahul',10000,'helloworld')

user added sucessfully