In [67]:
d = { 
   '1001': { 'name':'sachin','bal':0,'password':'redhat'},
   '1002' : { 'name':'manish','bal':124424224,'password':'asimov'} 
}

In [46]:
import pickle

In [47]:
fp = open('data.db','wb')

In [48]:
pickle.dump(d,fp)

In [49]:
fp.close()

In [50]:
d = pickle.load(open("data.db","rb"))

In [51]:
d

{'1001': {'name': 'sachin', 'bal': 0, 'password': 'redhat'},
 '1002': {'name': 'manish', 'bal': 124424224, 'password': 'asimov'}}

In [69]:
import os

In [70]:
os.mkdir('db')

In [71]:
import shelve

In [72]:
db = shelve.open("db/bank.db")

In [73]:
db['1001'] = d.get('1001')

In [74]:
db['1002'] = d.get('1002')

In [76]:
db.close()

In [77]:
db = shelve.open('db/bank.db',writeback=True)
db['1003'] = { 'name':'simarn','bal':45000,'password':'hello'}

In [81]:
db.close()

In [79]:
db = shelve.open("db/bank.db")

In [80]:
for key,value in db.items():
    print(f"{key} = {value}")

1001 = {'name': 'sachin', 'bal': 0, 'password': 'redhat'}
1002 = {'name': 'manish', 'bal': 124424224, 'password': 'asimov'}
1003 = {'name': 'simarn', 'bal': 45000, 'password': 'hello'}

In [2]:
import json

In [3]:
f = open("data.db",'w')

In [4]:
d = { 
   '1001': { 'name':'sachin','bal':0,'password':'redhat'},
   '1002' : { 'name':'manish','bal':124424224,'password':'asimov'} 
}

In [5]:
json.dump(d,f)

In [6]:
f.close()

In [8]:
f = open("data.db")

In [9]:
d1 = json.load(f)

In [10]:
dq1

NameError: name 'dq1' is not defined

In [11]:
d1

{'1001': {'name': 'sachin', 'bal': 0, 'password': 'redhat'},
 '1002': {'name': 'manish', 'bal': 124424224, 'password': 'asimov'}}

In [12]:
d1['1003'] = {'name':'simran','bal':1000,'password':'admin123'}

In [13]:
d1

{'1001': {'name': 'sachin', 'bal': 0, 'password': 'redhat'},
 '1002': {'name': 'manish', 'bal': 124424224, 'password': 'asimov'},
 '1003': {'name': 'simran', 'bal': 1000, 'password': 'admin123'}}

In [14]:
f.close()

In [15]:
f = open('data.db','w')

In [16]:
json.dump(d1,f)

In [17]:
f.close()

In [30]:
f = open('data.db')

In [31]:
data = json.load(f)

In [32]:
data

{'1001': {'name': 'sachin', 'bal': 0, 'password': 'redhat'},
 '1002': {'name': 'manish', 'bal': 124424224, 'password': 'asimov'},
 '1003': {'name': 'simran', 'bal': 1000, 'password': 'admin123'}}

In [33]:
f.close()

In [34]:
import pickle

In [63]:
f1 = open('data.db','rb')

In [64]:
data1 = pickle.load(f1)

In [65]:
data1

{'1001': {'name': 'simran', 'bal': 0, 'password': 'redhat'},
 '1002': {'name': 'manish', 'bal': 124424224, 'password': 'asimov'}}

In [66]:
f1.close()

In [57]:
fb = open('data.db','wb')

In [58]:
data1

{'1001': {'name': 'sachin', 'bal': 0, 'password': 'redhat'},
 '1002': {'name': 'manish', 'bal': 124424224, 'password': 'asimov'}}

In [59]:
data1['1001']['name'] = 'simran'

In [60]:
data1

{'1001': {'name': 'simran', 'bal': 0, 'password': 'redhat'},
 '1002': {'name': 'manish', 'bal': 124424224, 'password': 'asimov'}}

In [61]:
pickle.dump(data1,fb)

In [62]:
fb.close()

In [82]:
data1

{'1001': {'name': 'simran', 'bal': 0, 'password': 'redhat'},
 '1002': {'name': 'manish', 'bal': 124424224, 'password': 'asimov'}}

In [83]:
data1.items()

dict_items([('1001', {'name': 'simran', 'bal': 0, 'password': 'redhat'}), ('1002', {'name': 'manish', 'bal': 124424224, 'password': 'asimov'})])

In [84]:
dict1 = {'key1':'value1','key2':'value2'}

In [86]:
dict1.items()

dict_items([('key1', 'value1'), ('key2', 'value2')])

In [87]:
for key,value in data1.items():
    print("Key : ",key)
    print("Value : ",value)

Key :  1001
Value :  {'name': 'simran', 'bal': 0, 'password': 'redhat'}
Key :  1002
Value :  {'name': 'manish', 'bal': 124424224, 'password': 'asimov'}

In [89]:
def sq(n):
    return n**2

list(map(sq,[1,2,3,4,5,6]))

[1, 4, 9, 16, 25, 36]

In [93]:
list(map(int,input().split()))

1 2 3 4 5

[1, 2, 3, 4, 5]

In [94]:
l = [1,2,3,4,5]

In [95]:
list(map(str,l))

['1', '2', '3', '4', '5']

In [98]:
def even(n):
    if n%2 == 0:
        return False
    else:
        return True

list(filter(even,[1,2,3,4,5,6,8,10,34,56,89,29]))

[1, 3, 5, 89, 29]

In [99]:
def add(a,b):
    return a+b

In [102]:
from functools import reduce

In [101]:
print(dir(functools))

['MappingProxyType', 'RLock', 'WRAPPER_ASSIGNMENTS', 'WRAPPER_UPDATES', 'WeakKeyDictionary', '_CacheInfo', '_HashedSeq', '__all__', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', '_c3_merge', '_c3_mro', '_compose_mro', '_convert', '_find_impl', '_ge_from_gt', '_ge_from_le', '_ge_from_lt', '_gt_from_ge', '_gt_from_le', '_gt_from_lt', '_le_from_ge', '_le_from_gt', '_le_from_lt', '_lru_cache_wrapper', '_lt_from_ge', '_lt_from_gt', '_lt_from_le', '_make_key', 'cmp_to_key', 'get_cache_token', 'lru_cache', 'namedtuple', 'partial', 'partialmethod', 'recursive_repr', 'reduce', 'singledispatch', 'total_ordering', 'update_wrapper', 'wraps']

In [103]:
reduce(add,[1,23,5,6,78,90,1234])

1437

In [116]:
def func(x):
    def new():
        print(x+1)
    return new()

x = int(input("Enter any number : "))
func(x)

Enter any number : 10
11

In [113]:
del func

In [114]:
func()

NameError: name 'func' is not defined

In [117]:
def func(x):
    def new():
        print(x+1)
    return new

x = int(input("Enter any number : "))
a = func(x)
a()

Enter any number : 10
11

In [118]:
del new

NameError: name 'new' is not defined

In [108]:
a()

11

In [109]:
b = func(4)

NameError: name 'func' is not defined

In [110]:
del a

In [111]:
a()

NameError: name 'a' is not defined

In [126]:
def inc(x):
    return x+1

def dec(x):
    return x-1

def operate(func):
    x = int(input())
    result = func(x)
    print(result)

In [127]:
operate(inc)

10
11