In [1]:
# import pymysql as sql 
import MySQLdb as sql

In [3]:
db = sql.connect(host="localhost",
                port=3306,
                user="root",
                password="",
                database="summer_intern")

In [4]:
cur = db.cursor()

In [5]:
cmd = "show tables;"

In [6]:
cur.execute(cmd)

1

In [7]:
data = cur.fetchone()
print(data)

('student',)

In [8]:
cmd = "select * from student"
cur.execute(cmd)

3

In [9]:
data = cur.fetchall()

In [10]:
data

((1, 'Sachin Yadav', 'python', 15000.0),
 (2, 'kushal', 'linux', 8000.0),
 (3, 'rajat', 'cloud', 1000.0))

In [18]:
cmd  = "select roll_num from student order by roll_num desc"
cur.execute(cmd)

3

In [19]:
data = cur.fetchall()

In [22]:
data[0][0]

3

In [23]:
cmd = "select roll_num from student order by roll_num desc"
cur.execute(cmd)
last_roll = cur.fetchall()[0][0]
roll_num = last_roll+1
name = input("Enter your name : ")
fees = float(input("Enter fees : "))
course = input("Enter course : ")
cmd  = f"""insert into student(roll_num,name,
fees,course) values ({roll_num},'{name}',
{fees}, '{course}')"""
cur.execute(cmd)

Enter your name : nidhi
Enter fees : 12400
Enter course : web

1

In [24]:
db.commit() # to make changes permanent

In [25]:
cur.close()

In [26]:
db.close()