In [1]:
l = [ 1,2,3]
l1 = l

In [2]:
id(l)

1407330147016

In [3]:
id(l1)

1407330147016

In [4]:
t = (1,2,3,[1,2,3])

In [5]:
t

(1, 2, 3, [1, 2, 3])

In [7]:
t[3].append('hi')

In [8]:
t

(1, 2, 3, [1, 2, 3, 'hi'])

In [9]:
del t[3]

TypeError: 'tuple' object doesn't support item deletion

In [10]:
l =  [ 1,2,3]
l1 = l

In [11]:
id(l)

1407331587208

In [12]:
id(l1)

1407331587208

In [13]:
l.append('sachin')

In [14]:
l

[1, 2, 3, 'sachin']

In [15]:
l = [1,2,3]
l1 = l.copy() # shallow copy

In [16]:
id(l)

1407331138312

In [17]:
id(l1)

1407331135752

In [18]:
l.append('sachin')

In [19]:
l

[1, 2, 3, 'sachin']

In [20]:
l1

[1, 2, 3]

In [21]:
l[0] = 'hi'

In [22]:
l

['hi', 2, 3, 'sachin']

In [23]:
l1

[1, 2, 3]

In [24]:
import copy

In [25]:
l = [ 1,2,3]
l1 = copy.copy(l) # shallow copy
id(l)

1407331588232

In [26]:
id(l1)

1407331138120

In [27]:
l.append('sachin')

In [28]:
l

[1, 2, 3, 'sachin']

In [29]:
l1

[1, 2, 3]

In [30]:
l[0] = 'hi'

In [31]:
l

['hi', 2, 3, 'sachin']

In [32]:
l1

[1, 2, 3]

In [37]:
import copy 

l = [ 1,2,3]

l1 = copy.deepcopy(l)

id(l)

1407331541832

In [38]:
id(l1)

1407330147016

In [39]:
l.append('sachin')

In [40]:
l

[1, 2, 3, 'sachin']

In [41]:
l1

[1, 2, 3]

In [42]:
l[0] = "hi"

In [43]:
l

['hi', 2, 3, 'sachin']

In [44]:
l1

[1, 2, 3]

In [60]:
l = [ [1,2,3],5,'sachin']

In [61]:
id(l)

1407334557832

In [47]:
id(l[0])

1407336011016

In [62]:
id(l[1])

140733650678736

In [63]:
l1 = copy.copy(l)
print(id(l),id(l1))
print(id(l[0]),id(l1[0]))
print(id(l[1]),id(l1[1]))
print(id(l[2]),id(l1[2]))

1407334557832 1407336012616
1407336011656 1407336011656
140733650678736 140733650678736
1407330963048 1407330963048

In [65]:
l

[[1, 2, 3], 5, 'sachin']

In [66]:
l1

[[1, 2, 3], 5, 'sachin']

In [67]:
l[0].append('sachin')

In [68]:
l

[[1, 2, 3, 'sachin'], 5, 'sachin']

In [69]:
l1

[[1, 2, 3, 'sachin'], 5, 'sachin']

In [70]:
l.append('hi')

In [71]:
l

[[1, 2, 3, 'sachin'], 5, 'sachin', 'hi']

In [72]:
l1

[[1, 2, 3, 'sachin'], 5, 'sachin']

In [73]:
l = [ [1,2,3],5,'sachin']

In [74]:
id(l)

1407336013576

In [75]:
l1 = copy.deepcopy(l)
print(id(l),id(l1))
print(id(l[0]),id(l1[0]))
print(id(l[1]),id(l1[1]))
print(id(l[2]),id(l1[2]))

1407336013576 1407329796552
1407335876616 1407329796680
140733650678736 140733650678736
1407330963048 1407330963048

## Java Script Object Notataion Language

### Data type Supported by Json 

     python              json
   
*  numbers      --->     int, float # complex not support
*  string       --->     string
*  list         --->     array 
*  tuple        --->     array 
*  dictionary   --->     object
*  set          --->     not supported
*  forzenset    --->     not supported
*  map          --->     not supported ( all python specific data type )
*  True         --->     true
*  False        --->     false
*  None         --->     null

In [76]:
# json module provide us serlization and deserilization

# serlization --> object --> bytes 
# deserlization --> bytes --> object

In [77]:
import json

In [78]:
print(dir(json))

['JSONDecodeError', 'JSONDecoder', 'JSONEncoder', '__all__', '__author__', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__path__', '__spec__', '__version__', '_default_decoder', '_default_encoder', 'codecs', 'decoder', 'detect_encoding', 'dump', 'dumps', 'encoder', 'load', 'loads', 'scanner']

In [79]:
json.dumps?

In [80]:
d = { 'one':1, 'two':'hi'}

In [81]:
print(d)

{'one': 1, 'two': 'hi'}

In [86]:
print(json.dumps(d,indent=5))

{
     "one": 1,
     "two": "hi"
}

In [87]:
# json.dumps ---> will convert object into bytes

In [100]:
s = json.dumps(None)
print(type(s))
print(repr(s))

<class 'str'>
'null'

In [101]:
s = [ 1,2,3,4,5]

In [102]:
type(s)

list

In [103]:
s1 = json.dumps(s)

In [104]:
type(s1)

str

In [105]:
s1

'[1, 2, 3, 4, 5]'

In [106]:
s2 = json.loads(s1)

In [107]:
s2

[1, 2, 3, 4, 5]

In [108]:
type(s2)

list

In [113]:
fp = open("data.json","w")

In [114]:
data  = { 

    'name' : [ 'rajat','rahul','manish'],
    'marks' : [ 50,88,90]
}

In [124]:
json.dump(data,fp,)
fp.close()

ValueError: I/O operation on closed file.

In [126]:
data = ( 1,2,"3",4,5,'hello','hi','bye' )

In [127]:
fp = open("mydb.json","w")
json.dump(data,fp)
fp.close()

In [128]:
fp   = open('mydb.json')

d = json.load(fp)
fp.close()

In [129]:
d

[1, 2, '3', 4, 5, 'hello', 'hi', 'bye']

In [130]:
type(d)

list

In [131]:
import pickle

In [132]:
d = { 'name':'sachin','age':23,'language':['java','c','c++','python','bash']}

In [133]:
d

{'name': 'sachin',
 'age': 23,
 'language': ['java', 'c', 'c++', 'python', 'bash']}

In [134]:
import pickle

In [135]:
ds = pickle.dumps(d)

In [136]:
ds

b'\x80\x03}q\x00(X\x04\x00\x00\x00nameq\x01X\x06\x00\x00\x00sachinq\x02X\x03\x00\x00\x00ageq\x03K\x17X\x08\x00\x00\x00languageq\x04]q\x05(X\x04\x00\x00\x00javaq\x06X\x01\x00\x00\x00cq\x07X\x03\x00\x00\x00c++q\x08X\x06\x00\x00\x00pythonq\tX\x04\x00\x00\x00bashq\neu.'

In [137]:
chr(80)

'P'

In [138]:
type(ds)

bytes

In [142]:
f = open("data.pkl",'wb')

In [143]:
d

{'name': 'sachin',
 'age': 23,
 'language': ['java', 'c', 'c++', 'python', 'bash']}

In [144]:
pickle.dump(d,f)

In [145]:
f.close()

In [146]:
f = open('data.pkl','rb')

In [147]:
x = pickle.load(f)
f.close()

In [148]:
type(x)

dict

In [149]:
x

{'name': 'sachin',
 'age': 23,
 'language': ['java', 'c', 'c++', 'python', 'bash']}

In [168]:
bank = { 
    
    1001 : { 'name':'ram', 'bal':5000,'password':'heyram'},
    1002 : { 'name':'john','bal':45000,'password':'jhon@cena'},
    1003 : { 'name':'yahoo','bal':24342,'password':'google'}
    
}

In [152]:
bank

{1001: {'name': 'ram', 'bal': 5000, 'password': 'heyram'},
 1002: {'name': 'john', 'bal': 45000, 'password': 'jhon@cena'},
 1003: {'name': 'yahoo', 'bal': 24342, 'password': 'google'}}

In [153]:
import os

In [154]:
os.mkdir('bank_app')

In [155]:
os.mkdir('bank_app/data')

In [178]:
import json
for key,value in bank.items() :
    name = str(key) + '.json'
    path = "./bank_app/data/"+name
    fp = open(path,'w')
    json.dump(value,fp)
    fp.close()

In [179]:
os.listdir('./bank_app/data')

['1001.json', '1002.json', '1003.json']

In [180]:
def info(acc_no):
    database_dir = "./bank_app/data/"
    if acc_no in os.listdir(database_dir) : 
        name = database_dir + acc_no
        fp = open(name)
        data = json.load(fp)
        fp.close()
        for key,value in data.items() : 
            print(f"{key:<5} = {value:>5}")
    else : 
        print("No such user existss")

In [181]:
acc_no = input("Enter account number : ").strip()
acc_no += '.json'

info(acc_no)

Enter account number : 1003
name  = yahoo
bal   = 24342
password = google

In [187]:
def login(acc_no,password):
    acc_no = str(acc_no)
    name = "./bank_app/data/"+acc_no+'.json'
    if acc_no+'.json' in os.listdir('./bank_app/data') : 
        with open(name) as fp : 
            data = json.load(fp)
            fp.close()
        if data['password'] == password : 
            return True
        else : 
            print("Invalid Password Try Again")
            return False
    else : 
        print("No such User Exists")
        return False

In [191]:
login(1001,'heyram')

True

In [193]:
info("1001.json")

name  =   ram
bal   =  5000
password = heyram

In [195]:
def credit(acc_no) : 
    path = "./bank_app/data/"
    file_path = path+str(acc_no)+'.json'
    fp = open(file_path)
    data = json.load(fp)
    fp.close()
    amount = eval(input("Enter amount to credit : "))
    old_bal = data['bal']
    print("your old balance is ",old_bal)
    new_bal = old_bal + amount 
    print("your new updated balance is ",new_bal)
    data['bal'] = new_bal
    
    fp = open(file_path,"w")
    json.dump(data,fp)
    fp.close()

In [196]:
credit(1001)

Enter amount to credit : 15000
your old balance is  5000
your new updated balance is  20000

In [197]:
info("1001.json")

name  =   ram
bal   = 20000
password = heyram

In [217]:
f = open("log.txt","a")

In [218]:
f.write("Error!!1001 account number failed login\n")

40

In [200]:
f.close()

In [201]:
import time

In [202]:
time.ctime()

'Fri May 24 13:56:38 2019'

In [219]:
m = time.ctime()+":"+"Error"+"invalid password for user 1001\n"

In [220]:
f = open('log.txt','a')
f.write(m)
f.close()

In [221]:
m = time.ctime()+":"+"INFO"+"user 1001 has debitated 35000 form account\n"

In [222]:
f = open('log.txt','a')
f.write(m)
f.close()

In [223]:
f = open('log.txt')
data = f.read()
f.close()
print(data)

Error!!1001 account number failed login
Fri May 24 13:59:55 2019:Errorinvalid password for user 1001
Fri May 24 14:00:00 2019:INFOuser 1001 has debitated 35000 form account