In [1]:
import sqlite3 as sql

In [15]:
import os
os.unlink('mydata.db')

In [16]:
db = sql.connect("mydata.db")
cursor = db.cursor()

In [17]:
cmd = "create table student(id int(5) primary key,name varchar(100) )"

In [18]:
cursor.execute(cmd)

In [19]:
cmd ="insert into student values (1,'sachin'), (2,'kushal'), (3,'rajat')"

In [20]:
cursor.execute(cmd)

In [21]:
cmd = "select * from student"

In [22]:
cursor.execute(cmd)

In [23]:
data = cursor.fetchall()

In [24]:
data

[(1, 'sachin'), (2, 'kushal'), (3, 'rajat')]